@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0px;
  margin: 0px;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-width: 960px;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.hero {
  background: url("./../img/content/background.png") no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 100vh;
  min-height: 652px;
  color: #fff;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 25px 0 61px;
}

.hero__main-title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 17px;
  margin-top: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 37px;
}

.hero__title-section {
  width: 46%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 23px;
}
.menu__item:last-child {
  margin-right: 0px;
}

.phone-number {
  font-size: 22px;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 12.83px;
  height: 13.78px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 33px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 40px;
  margin-right: 15px;
}

.feature__text {
  font-size: 16px;
  max-width: 83px;
}

.button {
  display: block;
  width: 156px;
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  line-height: 1;
  border: none;
}
.button--theme--yellow {
  background: #FEDB3F;
  color: #000;
}
.button--theme--yellow:hover {
  background: #FFD517;
}
.button--theme--transperent {
  font-weight: 400;
  background: transparent;
  color: #fff;
}
.button--theme--transperent:hover {
  background: transparent;
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 652;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.order-section {
  background-attachment: fixed;
  background: url("./../img/content/background-order.png") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 652px;
  color: #fff;
  z-index: 1;
  background-color: rgba(43, 43, 43, 0.6);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 49px;
  line-height: 1.2;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("./../img/content/separator.png");
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
  line-height: 1.2;
}
.benefit:first-child {
  min-width: 285px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
}

.reviews__display {
  padding: 42px;
  background-color: #F8FAF9;
  margin-bottom: 15px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
  margin-right: 40px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #292929;
}

.reviews__text {
  margin-bottom: 25px;
  color: #666;
  width: 85%;
}

.reviews__author {
  font-size: 18px;
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  width: 74px;
  height: 74px;
  border: 6px solid #FEDB3F;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  width: 74px;
  height: 74px;
  border: 6px solid #FEDB3F;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  line-height: 1.2;
}

.form__input {
  width: 100%;
  border: solid 3px transparent;
  border-radius: 4px;
  padding: 18px 12px 20px;
  font: 1em sans-serif;
  font-size: 14px;
}
.form__input--textarea {
  height: 167px;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.form__controls:last-child {
  margin-top: 19px;
}

.form__buttons {
  margin-top: 46px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 12px;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible:before {
  background: url("./../img/pngicons/check.png") center center no-repeat;
  background-size: cover cover;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 9px;
}

.fixed-menu {
  position: fixed;
  top: 32%;
  right: 4.7%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 13px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 18px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}