@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 890px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0rem;
  margin: 0rem;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.hero {
  background: url("./../img/content/background.png") no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0rem 0.2222222222rem 0.2222222222rem rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0rem 0.2222222222rem 0.2222222222rem rgba(0, 0, 0, 0.25));
  height: 100vh;
  min-height: 36.2222222222rem;
  color: #fff;
}
@media screen and (max-width: 890px) {
  .hero {
    background: url("./../img/content/background.png") 75% 50% no-repeat;
    background-size: cover;
  }
  .hero::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 91px;
    background: #1968B1;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3888888889rem 0 3.3888888889rem;
}
@media screen and (max-width: 890px) {
  .hero__container {
    width: 95%;
  }
}

.hero__main-title {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 890px) {
  .hero__main-title {
    padding: 19% 5% 0%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.4444444444rem;
    margin-bottom: 0.6111111111rem;
    line-height: 0.9;
    padding: 19% 0% 0%;
  }
}
@media screen and (max-width: 420px) {
  .hero__main-title {
    font-size: 1.8333333333rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.0555555556rem;
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1rem;
    margin-bottom: 2.8888888889rem;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 890px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 890px) {
  .hero__icon-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 890px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.8333333333rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 2.2222222222rem;
  margin-right: 0.8333333333rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.6111111111rem;
}

.button {
  display: inline-block;
  width: 156px;
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  line-height: 1;
  border: none;
}
.button--theme--yellow {
  background: #FEDB3F;
  color: #000;
}
.button--theme--yellow:hover {
  background: #FFD517;
}
@media screen and (max-width: 480px) {
  .button--theme--yellow {
    font-size: 1.0555555556rem;
    font-weight: 800;
  }
}
.button--theme--transperent {
  font-weight: 400;
  background: transparent;
  color: #fff;
}
.button--theme--transperent:hover {
  background: transparent;
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 652;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2.9444444444rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
  }
}

.products-section {
  background-color: #F8FAF9;
}

.order-section {
  background-attachment: fixed;
  background: url("./../img/content/background-order.png") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 36.2222222222rem;
  color: #fff;
  z-index: 1;
  background-color: rgba(43, 43, 43, 0.6);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.map-section {
  background: url("./../img/content/map.png") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 890px) {
  .headline__container {
    width: 95%;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__title--reviews {
    margin-bottom: 1.2222222222rem;
    font-size: 2.5rem;
  }
}

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 2.7222222222rem;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 8%;
    margin-bottom: 3.7222222222rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 2.8333333333rem;
  }
}
.benefits__item:before {
  content: url("./../img/content/separator.png");
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 890px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.8888888889rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.8888888889rem;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-top: 0.5555555556rem;
    margin-bottom: 0.6111111111rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    max-width: 290px;
    padding: 0 2%;
  }
}

@media screen and (max-width: 890px) {
  .reviews__container {
    width: 95%;
  }
}

.reviews__display {
  padding: 2.3333333333rem;
  background-color: #F8FAF9;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 890px) {
  .reviews__display {
    margin-bottom: 2.3333333333rem;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 890px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 890px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
    margin-right: 0rem;
    margin-bottom: 1.6666666667rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2222222222rem;
  color: #292929;
}
@media screen and (max-width: 890px) {
  .reviews__title {
    margin-bottom: 0.6666666667rem;
  }
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
  color: #666;
  width: 85%;
}
@media screen and (max-width: 890px) {
  .reviews__text {
    width: 100%;
    margin-bottom: 0.6666666667rem;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  margin-right: 0.2777777778rem;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  width: 74px;
  height: 74px;
  border: 6px solid #FEDB3F;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  width: 74px;
  height: 74px;
  border: 6px solid #FEDB3F;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6%;
}
@media screen and (max-width: 890px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 11%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 1%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 890px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.2777777778rem;
  }
  .form__col:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 890px) {
  .form__row {
    margin-bottom: 1rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 890px) {
  .form__block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.form__title {
  line-height: 1.2;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
  padding: 1rem 0.6666666667rem 1.1111111111rem;
  font: 1em sans-serif;
  font-size: 0.7777777778rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 890px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
@media screen and (max-width: 890px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.1111111111rem;
}
.form__controls:last-child {
  margin-top: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__buttons {
  margin-top: 2.5555555556rem;
}
@media screen and (max-width: 890px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.6666666667rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible:before {
  background: url("./../img/pngicons/check.png") center center no-repeat;
  background-size: cover cover;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.5rem;
}

.fixed-menu {
  position: fixed;
  top: 32%;
  right: 4.7%;
  z-index: 100;
}
@media screen and (max-width: 890px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.7222222222rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 890px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.2777777778rem;
}
.menu__item:last-child {
  margin-right: 0rem;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.phone-number--color--black {
  color: #292929;
}

.phone-number__icon-elem {
  width: 0.7127777778rem;
  height: 0.7655555556rem;
  margin-right: 0.3333333333rem;
}

.hamburger {
  width: 26.11px;
  height: 23.83px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 890px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4.33px;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.1111111111rem 0;
  background: #fff;
}

.footer__container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 890px) {
  .footer__container {
    padding: 0 3%;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__phone-number {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .footer__phone-number {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts {
  font-style: normal;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.7777777778rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  fill: #B3B3B3;
}
.social__link:hover {
  fill: #292929;
}

.social__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.products-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3.8333333333rem;
}
.products-slider__arrow:last-child {
  margin-right: 0;
}
.products-slider__arrow--direction-left {
  width: 4%;
  height: 100%;
  background: url(../../img/icons/arrow-left.png) center center no-repeat;
}
.products-slider__arrow--direction-right {
  width: 4%;
  height: 100%;
  background: url(../../img/icons/arrow-right.png) center center no-repeat;
}

.product-slider__img-wrap {
  height: 100vh;
  width: 50%;
  background: url(../../img/content/board-1.png) center center no-repeat, url(../../img/content/board-bg.svg) center center no-repeat;
  background-size: 100%;
  margin-right: 4.5555555556rem;
}

.product-slider__info {
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.8888888889rem;
}

.product-slider__dropdown {
  position: relative;
  display: block;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E url(../../img/content/dropdownicon.png) center bottom 36px no-repeat;
  border-radius: 4px;
  margin-bottom: 2.8888888889rem;
}
.product-slider__dropdown :hover {
  background: #3465A3 url(../../img/content/dropdownicon.png) center bottom 36px no-repeat;
  border-radius: 4px;
}

.product-slider__dropdown-text {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  font-size: 0.7777777778rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.product-slider__dropdown-menu {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 273px;
  height: 291px;
  top: 0%;
  margin-left: 30px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.product-slider__dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-slider__dropdown-item .product-slider__dropdown-item-text {
  width: 6.8888888889rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-slider__dropdown-item .product-slider__dropdown-item-text:first-child {
  margin-top: 1.8333333333rem;
}
.product-slider__dropdown-item .product-slider__dropdown-item-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  margin-bottom: 1.5555555556rem;
}
.product-slider__dropdown-item .product-slider__dropdown-item-icon-wrap:first-child {
  margin-top: 1.8333333333rem;
}
.product-slider__dropdown-item .product-slider__dropdown-item-icon-wrap:last-child {
  margin-bottom: 0;
}

.product-slider__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.product-slider__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.3333333333rem;
}

.product-slider__parametrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
.product-slider__parametrs .product-slider__parametrs-long {
  margin-right: 2.8888888889rem;
}
.product-slider__parametrs .product-slider__parametrs-long .product-slider__parametrs-long-desc {
  font-weight: 700;
  color: #000;
}
.product-slider__parametrs .product-slider__parametrs-width-desc {
  font-weight: 700;
  color: #000;
}

.product-slider__forbuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-slider__forbuy .product-slider__cost {
  font-size: 3.3333333333rem;
  margin-right: 1.5555555556rem;
  color: #151515;
  font-weight: 300;
}