.button {
  display: inline-block;
  width: rem(156px);
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(21px) rem(41px);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(100px);
  line-height: 1;
  border: none;

  &--theme--yellow {
    background: $yellow;
    color: #000;

    &:hover {
      background: $dyellow;
    }
  }

  &--theme--transperent {
    font-weight: 400;
    background: transparent;
    color: #fff;

    &:hover {
      background: transparent;
      color: $yellow;
    }
  }
}