.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  // min-height: 93px;
  padding: rem(20px) 0;
  background: #fff;
}

.footer__container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: rem(24px);

  @include tablets {
    padding: 0 3%;
  }

  @include phones {
    padding: 0;
    flex-direction: column;
  }
}

.footer__phone-number {
  text-decoration: none;

  @include phones {
    justify-content: center;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
}