.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.logo__img {
  padding-left: 3%;
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}