.hero {
  background: url("./../img/content/background.png") no-repeat;
  background-size: cover;
  // border: rem(1px) solid rgba(0, 0, 0, 1);
  filter: drop-shadow(rem(0px) rem(4px) rem(4px) rgba(0, 0, 0, 0.25));
  height: 100vh;
  // max-height: rem(652px);
  min-height: rem(652px);
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(25px) 0 rem(61px);
}

.hero__main-title {
  text-transform: uppercase;
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: rem(17px);
  margin-top: rem(22px);
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(37px);
}

.hero__title-section {
  width: 46%;
}


