.products-slider__container {
  display: flex;
  align-items: center;

    @include tablets {
      width: 100%;
      justify-content: center;
    }
}

.products-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 1100px;
  
  @include tablets {
    max-width: 1100px;
  }
}

.products-slider__items {
  display: flex;
  width: 100%;
  left: 0;
  transition: .5s;
  position: relative;
}

.products-slider__item {  
  display: flex;
  align-items: center;
  // flex-shrink: 0;

    @include tablets {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      // flex-shrink: 0;
    }
  } 

.products-slider__arrow {
  display: flex;
  justify-content: center;
  margin-right: rem(69px);

    &:last-child {
      margin-right: 0;
    }

    &--left {
      width: 10%;
      height: 100%;
      background: url(./../img/icons/arrow-left.png) center center no-repeat;

      @include tablets {
        display: none;
      }
    }

    &--right {
      width: 10%;
      height: 100%;
      background: url(./../img/icons/arrow-right.png) center center no-repeat;

      @include tablets {
        display: none;
      }
    }

      @include tablets {

      &--left--tab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: rem(15px);
        width: 6%;
        height: 100%;
        background: url(./../img/icons/arrow-left.png) left center no-repeat;

        @include phones320 {
          margin-right: 0;
        }
      }

      &--right--tab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: rem(15px);
        width: 6%;
        height: 100%;
        background: url(./../img/icons/arrow-right.png) right center no-repeat;

        @include phones320 {
          margin-left: 0;
        }
      }
    }
      // @include phones {



      // }
}

.product-slider__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // width: 46%;
  width: rem(420px);

  @include tablets {
    flex-direction: row;
    height: rem(450px);
    width: rem(525px);
}

  @include phones320 {
    flex-direction: row;
    width: rem(350px);
  }
}

.product-slider__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  &--long {
    background: url(./../img/content/board-1.png) center center no-repeat,
    url(./../img/content/board-bg.svg) center center no-repeat;
    background-size: 100%;
    margin-right: rem(60px);
    height: 100vh;
    width: 85%;
  }

  &--short {
    background: url(./../img/content/board-2.png) center center no-repeat,
    url(./../img/content/board-bg.svg) center center no-repeat;
    background-size: 100%;
    margin-right: rem(60px);
    height: 100vh;
    width: 85%;
  }

  @include tablets {
    height: rem(450px);
    width: rem(390px);
    justify-content: start;
    margin-right: 0;
    // margin-top: rem(27px);
    background-size: 85%;
  }
}

.product-slider__info {
  height: 100vh;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: rem(52px);

    @include tablets {
      // height: rem(414px);
      // width: rem(116px);
      // height: 100%;
      // width: 75vw;
      height: rem(450px);
      width: 80%;
      align-items: center;
      text-align: center;
      justify-content: start;
      margin-right: 0;
    }
}

.product-slider__dropdown {
  position: relative;
  display: block;
  width: rem(91px);
  height: rem(91px);
  background: #3A587E url(./../img/content/dropdownicon.png) center bottom 36px no-repeat;
  border-radius: 4px;
  margin-bottom: rem(52px);

    &:hover {
      background: #3465A3 url(./../img/content/dropdownicon.png) center bottom 36px no-repeat;
      border-radius: 4px;

    .product-slider__dropdown-menu {
      left: 0;
      opacity: .95;
    }
  }

    @include tablets {
      display: none;
    }
}


.product-slider__dropdown-text {
  width: rem(91px);
  height: rem(91px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: rem(14px);
  text-transform: uppercase;
  color: #fff;
}

.product-slider__dropdown-menu {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 273px;
  height: 291px;
  top: -1%;
  margin-left: 92px;
  opacity: 0;
  transition: opacity .4s;
  left: -9999px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(20px);
}

.product-slider__dropdown-list {
  display: flex;
  justify-content: space-between;

  .product-slider__dropdown-item-icon-wrap {
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);

      .product-slider__dropdown-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        margin-bottom: rem(28px);

        &:first-child {
          margin-top: rem(18px);
        }

        &:last-child {
          margin-bottom: rem(21px);
        }
    }
  }

  .product-slider__dropdown-item-text-wrap {
    display: flex;
    flex-direction: column;

    .product-slider__dropdown-item-text {
      display: flex;
      align-items: center;
      width: rem(120px);
      height: rem(24px);
      margin-bottom: rem(28px);

        &:first-child {
          margin-top: rem(18px);
        }

        &:last-child {
          margin-bottom: rem(21px);
        }
      } 
    }

  .product-slider__dropdown-item-value-wrap {
    display: flex;
    flex-direction: column;
    margin-right: rem(15px);

    .product-slider__dropdown-item-value {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: rem(24px);
      margin-bottom: rem(28px);
  
      &:first-child {
        margin-top: rem(18px);
      }

      &:last-child {
        margin-bottom: rem(21px);
      }
    }
  }
}

.product-slider__title {
  display: flex;
  margin-bottom: rem(24px);
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.product-slider__desc {
  display: flex;
  width: 100%;
  margin-bottom: rem(24px);
}

.product-slider__parametrs {
  display: flex;
  margin-bottom: rem(24px);

  .product-slider__parametrs-long {
    margin-right: rem(52px);

    .product-slider__parametrs-long-desc {
      font-weight: 700;
      color: #000;
    }
  }

  .product-slider__parametrs-width-desc {
    font-weight: 700;
    color: #000;
  }
}

.product-slider__forbuy {
  display: flex;
  align-items: center;

  .product-slider__cost {
    width: rem(187px);
    height: rem(60px);
    font-size: rem(60px);
    margin-right: rem(28px);
    color: #151515;
    font-weight: 300;

    @include phones320 {
      margin-right: 0;
    }
  }
}