.section {
  height: 100vh;
  min-height: 652;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--white {
    color: #fff;

    .section__title {
      color: inherit;
    }
  }
}

.section__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: rem(53px);
  text-align: center;
  text-transform: uppercase;
  color: #292929;

  @include phones {
    font-size: rem(45px);
  }
}

.order__container {

  @include tablets {
    // width: 100%;
  }
}

.products-section {
  background-color: #F8FAF9;
}

.order-section {
  background-attachment: fixed;
  background: url("./../img/content/background-order.png") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: rem(652px);
  color: #fff;
  z-index: 1;
  background-color: rgba(43,43,43,0.60);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.map-section {
  background: url("./../img/content/map.png") no-repeat;
  background-size: cover;
}