.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 174px;
  min-height: 36px;
  /* margin-left: 50px; */
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.social__item--icon--tg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -234px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

/* .social__item--icon--tg:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -234px;
  transition: .5;
} */
.social__item--icon--tg:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -290px;
  opacity: 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.social__item--icon--tg:hover:after {
  opacity: 0;
}

.social__item--icon--tg:hover:before {
  opacity: 1;
}

.social__item--icon--vk {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -346px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

/* .social__item--icon--vk:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -346px;
  transition: .5;
} */
.social__item--icon--vk:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -402px;
  opacity: 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.social__item--icon--vk:hover:after {
  opacity: 0;
}

.social__item--icon--vk:hover:before {
  opacity: 1;
}

.social__item--icon--fb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -10px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

/* .social__item--icon--fb:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -10px;
  transition: .5;
} */
.social__item--icon--fb:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -66px;
  opacity: 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.social__item--icon--fb:hover:after {
  opacity: 0;
}

.social__item--icon--fb:hover:before {
  opacity: 1;
}

.social__item--icon--in {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  content: "";
  display: block;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -122px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

/* .social__item--icon--in:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -122px;
  transition: .5;
} */
.social__item--icon--in:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("../../img/icon/css_sprites.png") -10px -178px;
  opacity: 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.social__item--icon--in:hover:after {
  opacity: 0;
}

.social__item--icon--in:hover:before {
  opacity: 1;
}